$form-color : #98d8e3;
@font-face {
  font-family: "THSarabunNew";
  src: url("fonts/THSarabunNew.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "THSarabunNewBd";
  src: url("fonts/THSarabunNew Bold.ttf") format("truetype");
}
.Layout {
  background-color: #e3fbff;
  .App {
    text-align: center;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  // .ui {
  //   .segment,.menu {
  //     margin: 0;
  //   }
  // }

  .ui.menu,
  .ui.segment {
    margin: 0;
  }

  .ui.menu .item {
    font-family: "THSarabunNew";
    font-size: 20px;
    .headline {
      font-family: "THSarabunNewBd";
      font-weight: bolder;
    }
  }
}

.home {
  .menuContent {
    color: brown;
    font-weight: bold;
  }
  .loginHeader {
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 30px;
  }
  .loginForm {
    text-align: left;
    color: #117cba;
    padding-bottom: 20px;
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .forgotPW {
    font-family: THSarabunNew;
    font-size: 10px;
  }
  .submitBtn {
    text-align: center;
  }
  .pageContent {
    padding: 90px, auto;
    text-align: center;
  }
  .ui.icon.header.pageHeader {
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    line-height: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .headline {
    text-align: center;
  }
  .ui.form {
    .field > label {
      font-family: THSarabunNew;
      font-size: 20px;
    }
  }
  .ui.input > input {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  a {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.blue.button {
    font-family: THSarabunNew;
    font-size: 20px;
    margin: 20px auto;
  }
}

.AddNewPatientPage {
  text-align: center;
  padding: 20px 50px;

  .ui.icon.header.pageHeader {
    font-family: THSarabunNewBd;
    font-size: 40px;
  }
  .AddNewPatientForm {
    max-width: 1000px;
    text-align: center;
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.icon.aligned.header {
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    text-align: left;
  }
  /* .head.headName {
    font-family: THSarabunNewBd;
    color: red;
    font-size: 50px !important;
} */
  .content {
    text-align: center;
  }
  .ui.form {
    .field > label {
      font-family: THSarabunNew;
      font-size: 20px;
      text-align: left;
    }
  }
  .ui.input > input,
  .ui.form .field > .selection.dropdown,
  .ui.blue.button {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.blue.button {
    margin: 30px auto 10px auto;
    padding: 5px 20px;
  }
  .ui.dropdown,
  .ui.dropdown .menu > .item {
    font-family: THSarabunNew;
    font-size: 20px;
  }
}

.AddNewDrugstorePage {
  text-align: center;
  padding: 20px 50px;

  .ui.icon.header.pageHeader {
    font-family: THSarabunNewBd;
    font-size: 40px;
  }
  .AddNewPatientForm {
    text-align: center;
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.icon.aligned.header {
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    text-align: left;
  }
  /* .head.headName {
    font-family: THSarabunNewBd;
    color: red;
    font-size: 50px !important;
} */
  .content {
    text-align: center;
  }
  .ui.form {
    .field > label {
      font-family: THSarabunNew;
      font-size: 20px;
      text-align: left;
    }
  }
  .ui.input > input,
  .ui.blue.button {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.blue.button {
    margin: 30px auto 10px auto;
    padding: 5px 20px;
  }
}

.ContactUsPage {
  padding: 50px 10%;
  h1.ui.header {
    font-family: THSarabunNewBd;
    font-size: 50px;
    text-align: center;
  }
  .pageContent {
    margin-top: 40px;
    background-color: $form-color;
    padding: 30px;
    h2.ui.header {
      font-family: THSarabunNewBd;
      font-size: 25px;
      font-weight: bold;
    }
    .ui.bulleted.list > .item,
    .ui.list > .item {
      font-family: THSarabunNew;
      font-size: 20px;
      // line-height: 10px;
    }
  }
}



.AddNewPharmacistPage{
  text-align: center;
  padding: 20px 50px;

  .ui.icon.header.pageHeader {
    font-family: THSarabunNewBd;
    font-size: 40px;
  }
  .AddNewPatientForm {
    text-align: center;
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.icon.aligned.header {
    font-family: THSarabunNewBd;
    color: #117cba;
    font-size: 50px;
    text-align: left;
  }
  /* .head.headName {
    font-family: THSarabunNewBd;
    color: red;
    font-size: 50px !important;
} */
  .content {
    text-align: center;
  }
  .ui.form {
    .field > label {
      font-family: THSarabunNew;
      font-size: 20px;
      text-align: left;
    }
  }
  .ui.input > input,
  .ui.blue.button {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.blue.button {
    margin: 30px auto 10px auto;
    padding: 5px 20px;
  }
}

.ContactUsPage {
  padding: 50px 10%;
  h1.ui.header {
    font-family: THSarabunNewBd;
    font-size: 50px;
    text-align: center;
  }
  .pageContent {
    margin-top: 40px;
    background-color: $form-color;
    padding: 30px;
    h2.ui.header {
      font-family: THSarabunNewBd;
      font-size: 25px;
      font-weight: bold;
    }
    .ui.bulleted.list > .item,
    .ui.list > .item {
      font-family: THSarabunNew;
      font-size: 20px;
      // line-height: 10px;
    }
  }
}


.SmokingFormPage{
  text-align: center;
  padding: 50px;

  .ui.medium.image{
    // border: rgb(0, 62, 143) solid 5px;
    margin: auto;
    width: 200px;
  }
  .ui.icon.header.pageHeader {
    font-family: THSarabunNewBd;
    font-size: 40px;
  }
  .ui.attached.steps{
    overflow: auto;
    overflow-y: hidden;
  }
  .AddNewPatientForm {
    text-align: center;
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.icon.aligned.header {
    font-family: THSarabunNewBd;
    // color: #117cba;
    font-size: 50px;
    text-align: left;
  }
  /* .head.headName {
    font-family: THSarabunNewBd;
    color: red;
    font-size: 50px !important;
} */
  .content {
    text-align: center;
  }
  .ui.form {
    .field > label {
      font-family: THSarabunNew;
      font-size: 20px;
      text-align: left;
    }
  }
  .ui.input > input,
  .ui.blue.button ,.ui.checkbox label{
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.blue.button {
    margin: 30px auto 10px auto;
    padding: 5px 20px;
  }

  .ui.form .fields>.field{
    margin: 0;
  }
  .ui.bottom.attached.segment.active.tab{
    background-color: $form-color;
  }
  .ui.steps .step .title{
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.attached.segment{
    padding-top: 50px;
  }
}

.ContactUsPage {
  padding: 50px 10%;
  h1.ui.header {
    font-family: THSarabunNewBd;
    font-size: 50px;
    text-align: center;
  }
  .pageContent {
    margin-top: 40px;
    background-color: $form-color;
    padding: 30px;
    h2.ui.header {
      font-family: THSarabunNewBd;
      font-size: 25px;
      font-weight: bold;
    }
    .ui.bulleted.list > .item,
    .ui.list > .item {
      font-family: THSarabunNew;
      font-size: 20px;
      // line-height: 10px;
    }
  }
}


.EditPatientDataPage{
  padding: 50px;
  .ui.attached.tabular.menu{
    overflow: auto;
    overflow-y: hidden;
  }
  h2.ui.header{
    font-family: THSarabunNewBd;
    font-size: 30px;
  }
  .ui.tabular.menu .active.item{
    background-color: #056eb0;
    color: white;
  }
  .ui.form .field>label,.ui.form .field .ui.input input,.ui.selection.dropdown,.ui.selection.dropdown .menu>.item {
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.form {
    margin: 20px;
  }
  .header-item{
    width: 100px;
  }
}
.PatientInfo{
  // h2.ui.header{
  //   font-family: THSarabunNewBd;
  //   font-size: 30px;
  // }
}



.StrokeFormPage{
  padding: 50px;
  .AddNewPatientForm{
    color: #117cba;
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.center.aligned.header{
    font-family: THSarabunNewBd;
    font-size: 50px;
  }
  .ui.medium.image{
    // border: rgb(0, 62, 143) solid 5px;
    margin: auto;
    width: 200px;
  }
  
  .ui.steps .step .title{
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.form .field>.selection.dropdown {
    min-width: 0;
  }
}

.COPDFormPage{
  padding: 50px;
  
  .ui.steps{
    overflow-x: auto;
    font-family: THSarabunNew;
    
  }
  .ui.steps .step .title{
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.form .field>.selection.dropdown {
    min-width: 0;
  }
  .AddNewPatientForm{
    padding: 20px;
    font-family: THSarabunNew;
    font-size: 40px;
    width: 90%;
    margin: auto;
    background-color: $form-color;
  }
  .ui.center.aligned.header{
    font-family: THSarabunNewBd;
    font-size: 50px;
  }
  h3.ui.header{
    font-family: THSarabunNewBd;
    font-size: 30px;
  }
  .ui.form .inline.fields>label,.ui.checkbox label{
    font-family: THSarabunNew;
    font-size: 20px;
  }
  .ui.medium.image{
    // border: rgb(0, 62, 143) solid 5px;
    margin: auto;
    width: 200px;
  }
}
.SmokingCessationPlanPage{
  padding-top: 20px;
  h2.ui.icon.aligned.header{
    font-family: THSarabunNew;
    font-size: 30px;
    text-align: left;
    color: black;
  }
}

.SmokingCessationFormPage{
  padding-top: 20px;
  h2.ui.icon.aligned.header{
    font-family: THSarabunNew;
    font-size: 30px;
    text-align: left;
    color: black;
  }
}
.SmokingFollowUpPage{
  .ui.form .inline.fields .field>label{
    font-family: THSarabunNew;
    font-size: 20px;
  }
}
.SmokingFollowUpA5Page{
  .ui.form textarea{
    font-family: THSarabunNew;
    font-size: 20px;
  }
}
.AsthmaFormPage{
  padding-top: 50px;
  .ui.medium.image{
    border: rgb(0, 62, 143) solid 5px;
    margin: auto;
    width: 200px;
  }
  h1.ui.header {
    font-family: THSarabunNewBd;
    font-size: 50px;
    text-align: center;
  }
}
.PatientInfoPage{
  padding-top: 50px;
  .ui.icon.header{
    font-family: THSarabunNewBd;
    font-size: 50px;
    // color: #117cba;
    line-height: 100px;
  }
}